# Understanding your data
## Asking basic questions

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\ML\\used_cars_dataset.csv")

1. How big is the data?

In [5]:
df.shape

(4340, 8)

2. How does the data look like?

In [7]:
# df.head()
df.sample(5)

,name,year,km_driven,fuel,seller_type,transmission,owner,selling_price
2949,Hyundai i10 Sportz 1.2 AT,2013,38000,Petrol,Dealer,Automatic,First Owner,330000
852,Tata Hexa XTA,2017,50000,Diesel,Individual,Automatic,First Owner,1200000
2162,Hyundai i20 1.2 Sportz,2012,90000,Petrol,Individual,Manual,Third Owner,330000
2299,Toyota Camry Hybrid 2.5,2017,20118,Petrol,Dealer,Automatic,First Owner,1900000
107,Hyundai Sonata CRDi M/T,2010,100000,Diesel,Individual,Manual,First Owner,600000

3. What is the data type of columns?

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   km_driven      4340 non-null   int64
 3   fuel           4340 non-null   object
 4   seller_type    4340 non-null   object
 5   transmission   4340 non-null   object
 6   owner          4340 non-null   object
 7   selling_price  4340 non-null   int64
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

4. Are there missing values?

In [9]:
df.isnull().sum()

name             0
year             0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
selling_price    0
dtype: int64

5. how does the data look mathematically?

In [10]:
df.describe()

              year      km_driven  selling_price
count  4340.000000    4340.000000   4.340000e+03
mean   2013.090783   66215.777419   5.041273e+05
std       4.215344   46644.102194   5.785487e+05
min    1992.000000       1.000000   2.000000e+04
25%    2011.000000   35000.000000   2.087498e+05
50%    2014.000000   60000.000000   3.500000e+05
75%    2016.000000   90000.000000   6.000000e+05
max    2020.000000  806599.000000   8.900000e+06

6. Are there duplicate values?

In [19]:
df.duplicated().sum()

np.int64(763)

7. How is the correlation between columns?

In [26]:
df.select_dtypes(include='number').corr()['selling_price']

year             0.413922
km_driven       -0.192289
selling_price    1.000000
Name: selling_price, dtype: float64